ul {
    list-style: none;
}

.nav-list {
    list-style-type: none;
    margin: 0px 0px 20px 0px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav-item {
    float: left;
  }

.nav-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
li a:hover {
    background-color: #111;
}

.recipe-inputs {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.recipe-field {
    margin: 5px;
}

.recipe-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
}

label {
    padding-right: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    background-color: aquamarine;
    margin: 50px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 15px;
    width: 20rem;
}

.card h2 {
    border-bottom: 2px solid #111;
}

